{% load static %}
{% block body %}
{% include 'header.html' %}
<style>
      #one{
          color:lime;
         background-color:cyan!important;

  text-shadow:2px 4px 2px yellow;
         }
         input{

         color:red!important;}
</style>
<script>
    function checkpass(){
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('New Password & Confirm Password Field Does Not matched');
    value!=document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<marquee class="one" behavior="alternate" scrollamount="4"><h1>Change Password User</h1></marquee><hr>
<hr>
<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass">
    {% csrf_token %}
    <label><i class="fa fa-lock" ></i> Current Password</label>
    <input type="password" class="form-control" name="currentpassword" required>
    <label><i class="fa fa-users" ></i> New Password</label>
    <input type="password" class="form-control" name="newpassword" required>
    <label><i class="fa fa-lock" ></i> Confirm New Password</label>
    <input type="password" class="form-control" name="confirmpassword" required>


<input type="submit" class="btn btn-primary "  value="Submit " style="margin-top:2%;color:white;width:100%;" >
</form>
{% ifequal error "no" %}
<script>
    alert('Password Changed Successfully 😍😮');
    window.location=('{% url 'Logout' %}')
</script>

{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Try Again,Password Not Changed 😥');

</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('Your Current Password Is Wrong 😥');

</script>
{% endifequal %}

{% endblock body %}