{% load static %}
{% block body %}
{% include 'recruiter_navigation.html' %}
<style>
      #one{
          color:lime;
         background-color:cyan!important;

  text-shadow:2px 4px 2px yellow;
         }
         tr{
         text-align:center;}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br>
<h1><marquee>Latest Job </marquee></h1><hr>
<div class="container">
<table class="table table-hover container" id="example" class="display">
    <thead>
    <tr style="background-color:cyan">
        <th>S.No</th>
        <th>Company Name</th>
        <th> Job Title</th>
        <th>Location</th>
        <th>Start Date</th>
        <th>End Date</th>

        <th>Action</th>

    </tr>
    </thead>
<tbody>
{% for c in job %}
  <tr style="background-color:#DEB887;color:white;">
            <td>{{forloop.counter}}</td>
            <td>{{c.company}}</td>
            <td>{{c.title}}</td>
            <td>{{c.location}}</td>
            <td>{{c.start_date}}</td>
      <td>{{c.end_date}}</td>

      <td><a href="{% url 'user_login' %}" class="btn btn-primary" >Login to Apply</a>



        </tr>
{% endfor %}
</tbody>
</table>
</div>

{% endblock body %}