{% load static %}
{% block body %}
{% include 'parent.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .one{
    font-family:'Monotype Corsiva';
    font-size:25px;
    color:darkcyan;

    margin-top:1%;
    font-weight:bold;
    }
form{font-weight:bold;
font-size:20px;}
</style>
<marquee class="one" behavior="alternate" scrollamount="4"><h1>User Login</h1></marquee>
<br>
<hr>
<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><i class="far fa-envelope"></i>Email Id</label>
    <input type="email" class="form-control" name="uname" placeholder="Enter Email-Id">
    <label style="margin-top:2%;"><i class="fa fa-key" aria-hidden="true"></i>Password</label>
    <input type="password" class="form-control" name="pwd" placeholder="Enter password">
    <input type="submit" class="btn btn-primary"  value="login " style="margin-top:2%;color:white;" >

    <a href="{% url 'user_signup' %}" class="btn btn-primary"  style="margin-top:2%;color:white;" >User Signup</a>
</form><br>
{% include 'footer.html' %}
{% ifequal error "no" %}
<script>
    alert('Login Successfull 😍😮');
    window.location=('{% url 'user_home' %}')
</script>

{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Not Logged 😥');

</script>
{% endifequal %}
{% endblock body %}